.container {
  width: 100%;
  max-width: 100vw;

}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  align-items: center;
  font-size: medium;
  padding: 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #e2d6dd;
  border-radius: 10px;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
  width: 300px;
  height: 300px;
  background-color: white;
}

.card:hover,
.card:focus,
.card:active {
  color: #f0b0d3;
  border-color: #f0b0d3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1;
}

.cardContent {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1; /* 初始状态下显示图片 */
  transition: opacity 0.2s ease;
}

.cardText {
  position: relative;
  z-index: 1;
  opacity: 0;
  font-size: 16px; 
  color: #333; 
}

.card:hover .cardImage {
  opacity: 0; /* 鼠标悬停时隐藏图片 */
}

.card:hover .cardText {
  opacity: 1; /* 鼠标悬停时显示文字 */
}

.card {
  transition: transform 0.3s ease; /* 添加动画过渡效果 */
}

.card:hover {
  transform: scale(1.1); /* 悬停时放大卡片 */
}

.slideshow-background {
  background-size: cover;
  background-position: center;
  transition:  opacity 0.4s ease-in-out; /* 动画过渡效果 */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  60% {
      transform: rotate(-10deg);
  }
  80% {
    transform: rotate(-15deg);
}
  100% {
    transform: rotate(0deg);
  }
}
.shakeImg {
  width: 300px;
  height: 200px;
  animation: transform 0.3s ease; 
}  
.shakeImg:hover {
  animation: rotate 2s linear infinite; 
}

@keyframes slideA {
  0% { transform: translateX(-100%); }
  50% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}

@keyframes slideB {
  0% { transform: translateX(100%); }
  50% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.animateSlideA {
  animation: slideA 4s infinite;
  width: auto;
  height: 24px;
}

.animateSlideB {
  animation: slideB 4s infinite;
  animation-delay: 4s;
  height: 24px;

}
